<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

<a th:href="@{/users}"><button>Back</button></a>
<br>
<br>
<form method="post" th:action="@{/users/{userId}/update(userId=*{id})}" th:object="${user}">
    <label for="id">ID:
        <input id="id" type="text" name="id" th:value="*{id}" disabled>
    </label>
    <br>
    <label for="username">Username:
        <input id="username" type="text" name="username" th:value="*{username}">
    </label>
    <br>
    <label for="firstname">Firstname:
        <input id="firstname" type="text" name="firstname" th:value="*{firstname}">
    </label>
    <br>
    <label for="lastname">Lastname:
        <input id="lastname" type="text" name="lastname" th:value="*{lastname}">
    </label>
    <br>
    <label for="birthDate">BirthDate:
        <input id="birthDate" type="date" name="birthDate" th:value="*{birthDate}">
    </label>
    <br>
    <span>Role: </span>
    <div th:each="role : ${roles}">
        <input th:id="|role_${role}|" type="radio" name="role" th:value="${role}" th:checked="${role == user.role}">
        <label th:for="|role_${role}|" th:text="${role}"></label>
    </div>
    <br>
    <label for="company">Company:
        <select id="company" name="companyId">
            <option th:each="company : ${companies}"
                    th:value="${company.id}"
                    th:text="${company.name}"
                    th:selected="${company.id == user.company.id}">
                Company
            </option>
        </select>
    </label>
    <br>
    <br>
    <button type="submit">Update</button>
</form>

<form method="post"
      th:action="@{/users/{userId}/delete(userId=*{id})}"
      th:if="${user.role.name == 'ADMIN'}">
    <button type="submit">Remove</button>
</form>

<div th:if="${errors}">
    <p style="color: brown" th:each="error : ${errors}" th:text="|${error.field}: ${error.defaultMessage}|">Error message</p>
</div>

</body>
</html>
